<p id="notice"><%= notice %></p>

<table class="table table-bordered">
  <thead>
  <tr>
    <th>Title</th>
    <th>Added by</th>
    <th colspan="2">Votes</th>
    <th></th>
  </tr>
  </thead>
  <tbody>

  <% @items.each do |item| %>
      <tr>
        <td><%= link_to item.name, item.url %></td>
        <td><%= item.user.email %></td>
        <td>0</td>
        <td>
          <button class="btn btn-mini btn-success" type="button"><i class="icon-arrow-up"></i></button>
          <button class="btn btn-mini btn-danger" type="button"><i class="icon-arrow-down"></i></button>
        </td>
        <td><%= link_to 'Show', item %> <%= link_to 'Edit', edit_item_path(item) %> <%= link_to 'Destroy', item, confirm: 'Are you sure?', method: :delete %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br/>

<%= link_to 'New Item', new_item_path %>
